$roxo-escuro: #0C0421;
$roxo-vibrante: #4E75FF;
$roxo-calmante: #85A0FF;
$lilas: #CAD4FA;
$verde-calmante: #E8F5C8;
$verde-gradiente: linear-gradient(180deg, $verde-calmante 0%, rgba(255, 255, 255, 1) 96%);
$branco-gradiente: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(202, 212, 250, 0.3) 100%);
$font-krona: 'Krona One', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;


